:root {
  --clr-bg: rgb(194, 230, 244);
  --clr-button: rgb(243, 116, 116);
  --font1: "Oswald", sans-serif;
  --font2: "Public Sans", sans-serif;

  --font-pro-card:"Poppins", sans-serif;
  --clr-pro-card:rgb(42,207,207);
  --fw-head-pro-card:400;

  --clr-sub-text: rgb(156, 156, 156);
}
.wrapper {
  width: 80%;
  margin-inline: auto;
  text-align: center;
  background-color: var(--clr-bg);
  padding-block: 1rem;
  border-radius: 1.25rem;
}
.header {
  line-height: 2rem;
}
.header h1 {
  font-family: var(--font1);
}
.header h2 {
  font-family: var(--font2);
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
form input {
  height: 2rem;
  border: none;
  margin: 0.4rem;
  border-radius: 8px;
  padding-inline: 0.5rem;
}

.subscribeButton {
  height: 2rem;
  margin-block: 0.5rem;
  border: none;
  border-radius: 8px;
  background-color: var(--clr-button);
  color: white;
  width: -webkit-fill-available;
  max-width: 17rem;
  margin-inline: 1rem;
}

/* Following Code is for ProfileCard */
.profileCardImage{
  border-radius: 10rem;
  height: 13rem;
  margin-inline: auto ;
}
.profile-name{
  line-height: 1rem;
}
.profileCardHeader h1,.profileCardMain h2{
  font-family: var(--font-pro-card);
  font-weight: var(--fw-head-pro-card);
}
.profileCardHeader h1 span{
  display: block;
}
.profile-name{
  line-height: 1rem;
}
.profileCardHeader span{
  font-family: var(--font-pro-card);
  color: var(--clr-sub-text);
  font-size: 1rem;
}
.Skills{
display: flex;
flex-wrap: wrap;
gap: 0.4rem;
}
.Skills span{
display:inline-block;
background-color: var(--clr-pro-card);
color: white;
font-family: var(--font-pro-card);
padding: 0.25rem 0.75rem;
border-radius: 0.625rem;
}
.profileCardFooter p{
  color: var(--clr-sub-text);
  font-family: var(--font-pro-card);
  font-size: 0.7rem;
}
.pro-card-weapper{
  margin-inline: 1rem;
}
@media (max-width:425px) {
  .profileCardHeader{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}